.header {
    background-color: blue;
    color: white;
    font-family: fantasy;
}

header {
    display: flex;
}

#avatar {
    max-width: 100px;
    max-height: auto;
    margin: 5px;
    /* Make the avatar icon a circle */
    border-radius: 50%;
}

.title {
    font-size: 90px;
    font-family: fantasy;
}

li {
    color: white;
}

.custom-nav-link {
    font-size: 32px;
    color: white
}

@media screen and (max-width: 606px) {
    .title {
        font-size: 70px;
    }

    .custom-nav-link {
        font-size: 24px;
    }
}