.project {
    /* Complex method of getting notched corners on projects*/
    overflow: hidden;
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
    )
}

.proj-head {
    height: 30%;
    font-size: 2rem;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 2% 0%;
}

img {
    width: 100%;
    object-fit: contain;
}