.work-page {
    background-color: black;
    color: white;
}

.project {
    /* Complex method of getting notched corners on projects*/
    overflow: hidden;
    width: 40%;
    min-width: 525px;
    clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
    );
}


.ghlink {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-right: 30px;
}

.ghlink:hover {
    border: black 3px solid;
}

.card {
    max-height: 400px;
}

.proj-head {
    height: 75px;
    font-family: fantasy;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 2% 0%;
    text-decoration: none;
}

header {
    display: inline;
}

.image {
    width: 100%;
    height: 300px;
}

